In [36]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pylab import rcParams

sns.set(style='whitegrid', palette='muted', font_scale=1.5)
rcParams['figure.figsize'] = 14, 8

In [53]:
class PandasSeriesError(Exception):
    pass

In [37]:
# Take a really simple dataframe example
df = pd.DataFrame({
    'col1': ['ajay', 'nikita', 'ajay', 'sonia', 'sumeet', 'nikita', 'ajay'],
    'col2': [1, 2, 3, 4, 5, 6, 7]
})
df

     col1  col2
0    ajay     1
1  nikita     2
2    ajay     3
3   sonia     4
4  sumeet     5
5  nikita     6
6    ajay     7

In [60]:
def column_distribution(column, title='Class Distribution', xlabel='Class', ylabel='Count'):
    # column must be a Pandas Series
    if not isinstance(column, pd.Series):
        raise PandasSeriesError('column is not a Pandas Series.')
    
    count_classes = pd.value_counts(column, sort=True)
    count_classes.plot(kind='bar', rot=0)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

In [64]:
column_distribution(['ajay', 'nikita', 'ajay', 'sonia', 'sumeet', 'nikita', 'ajay'])

PandasSeriesError: column is not a Pandas Series.